.section_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product{
    width: 20%;
    height: 400px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    position: relative;
    cursor: pointer;
}
.product:hover .icon{
    display: block;

}
.product_name{
    width: 80%;
    text-align: center;
}
.product_name:hover{
    color:red;
}
.product_price{
    font-weight: 500;
    margin-top: 10px;
}
.icon{
    color: brown;
    position: absolute;
    bottom: 130px;
    left: 40px;
    font-size: 25px;
    display: none;
    animation: rotate 0.3s linear ; 
}
@keyframes rotate{
    to{ transform: rotate(360deg); }
  }
.out_of_stock{
    padding: 4px 10px;
    color: #Fff;
    background-color: rgb(218, 20, 20);
    position: absolute;
    top:10px;
    right: 10px;
    font-size: 14px;
    transform: rotate(30deg);
    border-radius: 5px;
}
.product_img{
    width: 100%;
}
