.header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_search{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 80px;
}
.search_input{
    border :1px solid #ccc;
    padding :10px;
    border-radius: 5px;
}
.search_input:focus{
    border :2px solid rgb(97, 129, 197);
}
.search_icon{
    padding: 10px 15px;
    background-color: #dc3545;
    color :#fff;
    border-radius: 10px;
    cursor:pointer;
}
.header_logo{
    font-size: 35px;
    color: #dc3545;
}
.header_action{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 80px;
}
.btn{
    padding:8px 12px;
    background-color: #dc3545;
    border-radius: 7px;
    color:#fff;
    font-size: 13px;
    font-weight: 600;
    cursor:pointer;

}