.navbar {
    width: 100%;
    background-color: #ededed;
    padding: 20px;
}

.navbar_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar_item {
    cursor: pointer;
    position: relative;
}

.navbar_name {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .2s linear;
}

.navbar_name:hover {
    color: #dc3545;
    border-bottom: 2px solid #dc3545;
}

.navbar_item:hover>.sub_list {
    display: flex;
}

.sub_list {
    position: absolute;
    width: 170px;
    height: auto;
    background-color: aliceblue;
    flex-direction: column;
    gap: 10px;
    top: 43px;
    display: none;
}

.navbar_item ::after {
    content: "";
    width: 100%;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 0;
    background-color: transparent;
    display: block;
    z-index: 1928374;
}

.sub_item {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    color: gray;
    width: 100%;
    height: 50px;
    padding: 14px;
    transition: all .2s linear;
}

.navbar_name:hover>.sub_item {
    color: #fff;
    background-color: #dc3545;
}

.sub_item:hover {
    color: #fff;
    background-color: #dc3545;
}